@import '_mixins';
$bg-color-accent0: #032948;
$bg-color-accent1: #064273;
$bg-color-accent2: #0c436f;
$bg-color-accent3: #105288;
$bg-color-accent4: #54a0de;
$border-color: #0074a2;
$text-color: #b6e2fa;

$disabled-color: #656565;
$disabled-border-color: rgba($disabled-color, 30%);
$disabled-bg-color: desaturate($bg-color-accent2, 60%);

body[theme='dark'] {
	color: #b6e2fa;

	#sidebar {
		background-color: $bg-color-accent0;
	}

	#content {
		background-color: $bg-color-accent1;

		#url-box .drop-area {
			border-color: $border-color;

			.drop-area-click {
				background-color: $bg-color-accent3;
			}
		}

		.footer-wrapper {
			color: $text-color;

			a {
				color: darken($text-color, 10%);
			}
		}
	}

	#video-player-container .video-controls-container .play-bar {
		&::before {
			background-color: $border-color;
		}

		.play-bar-handle {
			background-color: $bg-color-accent4;
		}
	}

	#results-container .video-results-wrapper .video-results-header {
		border-color: $border-color;

		h5 {
			color: $text-color;
		}
	}

	.input-group-text,
	.form-control {
		background-color: $bg-color-accent0;
		color: $text-color;
		border-color: $border-color;
	}

	#trim-video-wrapper .video-trim-container {
		@include scrollbars(4px, $text-color, rgba(255, 255, 255, 0.2));
	}

	.popover {
		.arrow {
			&::after,
			&::before {
				border-bottom-color: $border-color;
			}
		}

		.popover-header {
			background-color: $bg-color-accent3;
			color: $text-color;
			border-color: $border-color;

			&::before {
				border-color: $border-color;
			}
		}

		.popover-body {
			background-color: $bg-color-accent4;
			@include scrollbars(4px, $text-color, rgba(255, 255, 255, 0.2));
		}
	}
}
