.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
 height:100%
}

.Content {
  height: 80vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  resize: both;
  overflow: auto;
  opacity: 0.5;
  width: 675px;
  height: 350px;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #f1f1f1;
  color: #fff;
  resize: both;
  overflow: none;
}

#RotatePlayerValue0 {
  /* width: 754px;
  height: 424px; */
  padding: 20px;
  width: 450px;
  height: 300px;
  position: relative;
  transform: rotate(90deg);
}

#RotatePlayerValue1 {
  /* width: 754px;
  height: 424px; */
  padding: 20px;
  width: 450px;
  height: 300px;
  position: relative;
  transform: rotate(180deg);
}

#RotatePlayerValue2 {
  /* width: 754px;
  height: 424px; */
  padding: 20px;
  width: 450px;
  height: 300px;
  position: relative;
  transform: rotate(270deg);
}

#RotatePlayerValue3 {
  /* width: 754px;
  height: 424px; */
  padding: 20px;
  width: 450px;
  height: 300px;
  position: relative;
  transform: rotate(360deg);
}
.rotate {
  animation: rotate-keyframes 15s;
 }
 
 @keyframes rotate-keyframes {
  from {
   transform: rotate(0deg);
  }
 
  to {
   transform: rotate(360deg);
  }
 }