header {
  display: flex!important;
  justify-content: space-between;
}

header h1.ant-typography {
  color: #fff;
  line-height: 64px;
  margin-bottom: 0;
  cursor: pointer;
}

header ul.ant-menu {
  line-height: 64px;
}

header .dark-theme-switch {
  height: 20px;
  width: 20px;
  float: right;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  flex-shrink: 0;
}

header .dark-theme-switch .theme-switch-inner {
  height: 100%;
  width: 50%;
  background-color: white;
  position: relative;
  left: 50%;
  border-radius: 0 100% 100% 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

header input[type='checkbox']{
  display: none;
}

header input[type='checkbox']:checked + #header-options{
  display: flex;
  width: auto;
}

header h1 {
  color: white !important;
  font-size: 3.4vh;
  font-weight: 900;
  cursor: pointer;
}
body {
 height:100%
}

section.layout{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Content {
  min-height: 82.2vh!important;
}

.video-react div,
.video-react .video-react-big-play-button {
  z-index: 10;
}

.video-react.video-react-fluid{
  padding-top: initial !important;
  height: auto !important;
}

#video-player{
  position: relative;
}

.react-draggable{
  z-index: 5;
  border: 2px solid purple;
}

.button-columns .ant-row > div.ant-col {
  padding: 0 10px;
}

.final-video-title{
  word-wrap: break-word;
}

@media (max-width: 1199px) {
  .button-columns:not(.row-on-mobile) .ant-row > div.ant-col:first-child > button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button-columns:not(.row-on-mobile) .ant-row > div.ant-col:last-child > button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .button-columns.row-on-mobile .ant-row > div.ant-col:last-child > button {
    margin-top: 10px;
  }
}

.anticon {
  vertical-align: 1px!important; 
}
@media (max-width: 768px) { 
  #header-options{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    padding: 1em;
    background: #001529;
    display: none;
  }

  #header-options .ant-btn{
     width: 100%;   
  }

  header h1 {
    font-size: 2vh;
  }

  header img{
    height: 30px;
    width: 60px;
  }
}